In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tennis.csv')

In [4]:
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,NaN,A,20181231,243,106034,NaN,NaN,...,37.0,28.0,14.0,11.0,5.0,8.0,185.0,275.0,136.0,421.0
1,2019-M020,Brisbane,Hard,NaN,A,20181231,244,117360,NaN,NaN,...,65.0,49.0,23.0,16.0,4.0,7.0,166.0,318.0,99.0,590.0
2,2019-M020,Brisbane,Hard,NaN,A,20181231,245,106423,NaN,NaN,...,44.0,31.0,7.0,9.0,5.0,7.0,146.0,367.0,119.0,482.0
3,2019-M020,Brisbane,Hard,NaN,A,20181231,246,106426,3.0,NaN,...,33.0,28.0,9.0,10.0,2.0,4.0,84.0,650.0,NaN,NaN
4,2019-M020,Brisbane,Hard,NaN,A,20181231,247,200175,7.0,NaN,...,21.0,12.0,7.0,7.0,3.0,8.0,131.0,433.0,297.0,125.0

In [5]:
df.drop(df[df.winner_hand == 'U'].index, axis = 0, inplace = True)
df.drop(df[df.loser_hand == 'U'].index, axis = 0, inplace = True)

In [6]:
dff = df.loc[:, ['winner_hand', 'loser_hand']]

In [7]:
dff

     winner_hand loser_hand
0              R          R
2              R          R
4              R          R
5              R          L
7              R          L
...          ...        ...
1531           R          R
1532           R          R
1533           R          R
1534           R          R
1535           R          R

[907 rows x 2 columns]

In [8]:
a = dff['winner_hand'] == 'R'
b = dff['loser_hand'] == 'L'
c = a == b
d = dff[c]

In [13]:
d['success'] = d['winner_hand'].replace({'R' : 'success', 'L' : 'failure'})

<ipython-input-13-7ef3f245f015>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['success'] = d['winner_hand'].replace({'R' : 'success', 'L' : 'failure'})

In [12]:
d.head()

   winner_hand loser_hand  success  Success
5            R          L  success  success
7            R          L  success  success
11           L          R  failure  failure
23           L          R  failure  failure
25           L          R  failure  failure